@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@700&display=swap");
* {
  font-family: "Koh Santepheap", cursive;
}
/* Warna */
body {
  background-color: rgb(37, 60, 78);
}
p {
  color: rgb(96, 175, 158);
}

a {
  color: black;
}

td {
  color: khaki;
}

th {
  background-color: red;
}

th {
  color: khaki;
}

h3 {
  color: black;
}

li {
  color: wheat;
}

ol {
  color: wheat;
}

/* Width height max width max */
h3 {
  background-color: white;
  max-width: 75%;
  width: 75%;
  padding-right: 50%;
  border: 5px solid black;
  font-family: sans-serif;
  color: black;
  padding: 0 auto;
}
p {
  background-color: black;
}
